body{
    background-color: #212121;
    color: white;
}

p{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
h1{
    color: red;

}
h2{
    color: yellow;
}

img{
    width: 200px;
}

ul li{
    list-style-type:lower-roman;
}