body{
    display: grid;
    grid-template-columns: 3;
}

header{
    background: red;
    width: 100%;
    height: 150px;
    display: block;
    float: left;
}

main{
    background: green;
    width: 100%;
    height: 800px;
    display: block;
    float: left;

}


footer{
    background: blue;
    width: 100%;
    height: 200px;
    float: left;

}